<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h1><%=title%></h1>
                <p class="grey-text text-lighten-4"><%=footer.phrase%></p>
                <a href="<%=domain%>/help" target="_blank">
                    <i class="fas fa-question-circle"></i> Central de ajuda
                </a>
            </div>

            <div class="col l4 offset-l1 s12">
                <h2>
                    <i class="<%=footer.members.icon%>"></i>
                    <%=footer.members.title%>
                </h2>
                <ul>
                    <% footer.members.members.forEach(function(member) { %>

                        <li><a class="grey-text text-lighten-3" href="<%=member.link%>" target="_blank"><%=member.name%></a></li>

                    <% }) %>
                </ul>
            </div>

            <div class="col l3 s12">
                <h2>
                    <i class="<%=footer.contacts.icon%>"></i>
                    <%=footer.contacts.title%>
                </h2>
                <ul>
                    <% footer.contacts.contacts.forEach(function(contact) { %>

                        <li><a class="grey-text text-lighten-3" href="<%=contact.link%>" target="_blank"><%=contact.contact%></a></li>

                    <% }) %>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer-copyright" style="background-color: #161616">
        <span><%=footer.copyright%></span>
    </div>
</footer>