<% navbar.dropdown.forEach(function(item){ %>

    <ul id="<%=item.id%>" class="nav-dropdown dropdown-content">

        <% item.options.forEach(function(option){ %>

            <li>
                <a href="<%=option.link%>">
                    <i class="<%=option.icon%> hide-on-small-only"></i>
                    <%=option.text%>
                </a>
            </li>

        <% }) %>

        <li class="divider"></li>
    </ul>

<% }) %>

<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper ">
        <a class="brand-logo left">
            <img src="<%=navbar.logo%>" />
        </a>

        <ul class="right">

            <% navbar.menu.forEach(function(item){ %>

                <% if(item.dropdown) { %>
                    <li>
                        <a href="#" class="dropdown-trigger" data-target="<%=item.dropdownTarget%>" style="height: 64px; padding-top: 6px">
                            <% if(item.icon != null) { %>
                                <i class="<%=item.icon%> fa-2x hide-on-small-only hide-on-large-only tooltipped" data-tooltip="<%=item.text%>"></i>
                                <i class="<%=item.icon%> hide-on-med-and-up tooltipped" data-tooltip="<%=item.text%>" style="font-size: 18px; height: 30px"></i>
                            <% } %>

                            <span class="hide-on-med-and-down"><%=item.text%></span>
                            <i class="fas fa-caret-down"></i>
                        </a>
                    </li>
                <% } else { 
                    let target = item.link != null ? `href=${item.link}` : 
                                                     `onclick=scrollToSection(${item.sectionScroll})` %>
                    <li>
                        <a <%=target%> style="height: 64px; padding-top: 6px">
                            <% if(item.icon != null) { %>
                                <i class="<%=item.icon%> fa-2x hide-on-small-only hide-on-large-only tooltipped" data-tooltip="<%=item.text%>"></i>
                                <i class="<%=item.icon%> hide-on-med-and-up tooltipped" data-tooltip="<%=item.text%>" style="font-size: 18px; height: 30px"></i>
                            <% } %>

                            <span class="hide-on-med-and-down"><%=item.text%></span>
                        </a>
                    </li>
                <% } %>

            <% }) %>

        </ul>
    </div>
</nav>

<script>
    M.AutoInit()
</script>