<% if(msg) { %>
    <script>

        <% 
            msg = msg.split('|')
            let text = msg[1]
            let type = msg[0]
        %>
    
        M.toast({ html: '<%=text%>', classes: '<%=type%>' })
        
    </script>
<% } %>