<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Genesis</title>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-mask.js"></script>
    <script src="/js/client-helpers.js"></script>
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <style>
        h1 {
            font-size: 2rem;
        }
        .btn {
            width: 100%;
            margin: .5rem 0;
        }
        #form-contato {
            display: none;
        }
        table thead,
        table tbody {
            font-size: 11px;
        }
        table > caption {
            font-weight: 400;
            font-size: 16px;
            text-align: left;
        }
        .table-action {
            cursor: pointer;
        }
        #card-principal {
            padding: 36px 44px 2px 44px;
            margin: 40px 0;
        }

        @media(max-width: 600px) {
            .btn#cadastrar {
                height: 5rem;
            }
            #card-principal {
                padding: 16px 10px 1px 10px;
                margin: 20px 0;
            }
        }
    </style>
</head>
<body>

    <%- include('partials/navbar') %>


    <!-- FORMULÁRIO -->
    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="card animated fadeInUp" id="card-principal">
                    <div class="card-content">

                        <div class="row">

                            <span class="card-title grey-text text-darken-3 col s12">Cadastro de clientes</span>

                            <form action="/cadastro/cliente" method="post" enctype="multipart/form-data">
                                
                                <div class="row">
                                    <div class="input-field col s12 m4">
                                        <select id="tipo" name="tipo" required>
                                            <option value="PJ">PJ</option>
                                        </select>
                                        <label for="tipo">Tipo de pessoa</label>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="input-field col s12 m4">
                                        <input id="cnpj" name="cnpj" type="text" required maxlength="300" autocomplete="x">
                                        <label for="cnpj">CNPJ</label>
                                    </div>

                                    <div class="input-field col s12 m8">
                                        <input id="razao" name="razao" type="text" required maxlength="300" autocomplete="x">
                                        <label for="razao">Razão social</label>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <input id="fantasia" name="fantasia" type="text" maxlength="300" autocomplete="x">
                                        <label for="fantasia">Nome fantasia</label>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <select id="segmento" name="segmento" required>
                                            <option value="">Selecione</option>
                                        </select>
                                        <label for="segmento">Segmento de mercado</label>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <input id="email" name="email" type="text" required maxlength="100" autocomplete="x">
                                        <label for="email">E-mail</label>
                                    </div>

                                    <div class="input-field col s12 m4">
                                        <input id="fone" name="fone" type="text" required autocomplete="x">
                                        <label for="fone">Telefone</label>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <input id="site" name="site" type="text" autocomplete="x">
                                        <label for="site">Página WEB</label>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="input-field col s12 m3">
                                        <input id="cep" name="cep" type="text" required autocomplete="x">
                                        <label for="cep">CEP</label>
                                    </div>

                                    <div class="input-field col s12 m3">
                                        <select id="uf" name="uf" required>
                                        </select>
                                        <label for="uf">UF</label>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <input id="cidade" name="cidade" type="text" required autocomplete="x">
                                        <label for="cidade">Cidade</label>
                                    </div>

                                    <div class="input-field col s12 m4">
                                        <input id="bairro" name="bairro" type="text" required autocomplete="x">
                                        <label for="bairro">Bairro</label>
                                    </div>

                                    <div class="input-field col s12 m8">
                                        <input id="logradouro" name="logradouro" type="text" required autocomplete="x">
                                        <label for="logradouro">Logradouro</label>
                                    </div>

                                    <div class="input-field col s12 m3">
                                        <input id="numero" name="numero" type="text" autocomplete="x">
                                        <label for="numero">Número</label>
                                    </div>

                                    <div class="input-field col s12 m9">
                                        <input id="complemento" name="complemento" type="text" autocomplete="x">
                                        <label for="complemento">Complemento</label>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <select id="associacao" name="associacao">
                                        </select>
                                        <label for="associacao">Associaçao</label>
                                    </div>

                                    <div class="file-field input-field col s12" style="margin-left: -10px">
                                        <div>
                                            <input type="file" id="fotos" name="fotos" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path" type="text" placeholder="Selecione as fotos">
                                        </div>
                                    </div>

                                    <!-- <div class="col s12 m5">
                                        <button class="btn white grey-text text-darken-3 waves-effect waves-light add" id="addContato">
                                            <i class="fa fa-plus"></i>
                                            Adicionar um contato
                                        </button>
                                    </div> -->
                                </div>

                                <!-- <div class="row" id="form-contato">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="row">
                                                    <div class="input-field col s12 m4">
                                                        <input id="cpfContato" name="cpfContato" type="text" autocomplete="x">
                                                        <label for="cpfContato">CPF</label>
                                                    </div>

                                                    <div class="input-field col s12 m8">
                                                        <input id="nomeContato" name="nomeContato" type="text" required autocomplete="x">
                                                        <label for="nomeContato">Nome do contato</label>
                                                    </div>

                                                    <div class="input-field col s12 m6">
                                                        <input id="fone1" name="fone1" type="text" autocomplete="x">
                                                        <label for="fone1">Fone</label>
                                                    </div>

                                                    <div class="input-field col s12 m6">
                                                        <input id="fone2" name="fone2" type="text" autocomplete="x">
                                                        <label for="fone2">Fone 2</label>
                                                    </div>

                                                    <div class="input-field col s12 m8">
                                                        <input id="emailContato" name="emailContato" type="text" autocomplete="x">
                                                        <label for="emailContato">E-mail</label>
                                                    </div>
    
                                                    <div class="input-field col s12 m6">
                                                        <select id="tipoContato" name="tipoContato" required>
                                                            <option value="">Selecione</option>
                                                        </select>
                                                        <label for="tipoContato">Tipo</label>
                                                    </div>

                                                    <div class="input-field col s12 m6">
                                                        <button id="salvarContato" class="btn orange right">Salvar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="row">
                                    <div class="col s12">

                                        <table id="tabela-contatos" class="responsive-table">
                                            <caption>Contatos</caption>
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>CPF</th>
                                                    <th>Vínculo</th>
                                                    <th>Fone</th>
                                                    <th>E-mail</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="placeholder-line">
                                                    <td colspan="6">
                                                        <p align="center">Nenhum contato adicionado</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div> -->

                                <div class="row">
                                    <div class="col s12 m3 offset-m3">
                                        <button class="btn white grey-text text-darken-3 waves-effect waves-light right" type="reset">Limpar</button>
                                    </div>

                                    <div class="col s12 m3">
                                        <button class="btn green waves-effect waves-light" type="submit" id="cadastrar">Cadastrar
                                            <i class="fa fa-check right"></i>
                                        </button>
                                    </div>
                                </div>
                    
                            </form>

                        </div>

                    </div>
                </div>  
                
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>

    <%- include('partials/toast') %>


    <script src="/js/client-helpers.js"></script>

    
    <script>
        //Flags
        const frontendFileValidation = true
        //Debug flags
        const autoFillForm = false
        //const autoFillContatosForm = true
        let used = false //permite alterar qualquer campo após o autopreenchimento

        //Variáveis de controle
        let tiposContato

        //Aplicação de máscaras
        $('#cnpj').mask('00.000.000/0000-00', {reverse: true})
        $('#cep').mask('00000-000')
        $('#cpfContato').mask('000.000.000-00')
        $('#fone').mask('(00) 0000-0000')
        $('#fone1, #fone2').mask('(00) 00000-0000')

        //Carregamento dos dados de selects
        async function loadUFs()
        {
            await (() => {
                return new Promise((resolve, reject) => {
                    $.get('/obter/ufs')
                        .done(ufs => {
                            ufs = ufs.map(uf => uf.sigla).sort()

                            ufs.forEach(uf => {
                                let option = $('<option>').attr('value', uf).html(uf)
                                $('#uf').append(option)
                                M.FormSelect.init($('#uf'), {})
                            })

                            resolve()
                        })
                        .fail(() => reject())
                })
            })()
            .then(() => {
                $('#uf').val('RJ')
                M.FormSelect.init($('#uf'), {})
            })
            .catch(err => {
                console.log(err)
                M.toast({html: 'Ocorreu um erro ao carregar as UFs.', classes: 'red'})
            })
        }

        function loadSegmentos() {
            $.get('/obterSegmentos')
                .done(segmentos => {
                    segmentos.forEach(seg => {
                        let option = $('<option>').attr('value', seg.id).html(seg.descricao)
                        $('#segmento').append(option)
                        M.FormSelect.init($('#segmento'), {})
                    })
                })
                .fail(err => console.error(err))
        }

        function loadAssociacoes() {
            $.get('/obterAssociacoes')
                .done(associacoes => {
                    associacoes.forEach(assoc => {
                        let option = $('<option>').attr('value', assoc.id).html(assoc.descricao)
                        $('#associacao').append(option)
                        M.FormSelect.init($('#associacao'), {})
                    })
                })
                .fail(err => console.error(err))
        }

        loadUFs()
        loadSegmentos()
        loadAssociacoes()

        //Tratamento das restrições do arquivo
        $('input[type=file]').change(e => {
            if(!frontendFileValidation) return

            const fileLimit = 2 * 1024 * 1024
            const allowedTypes = [
                'image/jpeg',
                'image/pjpeg',
                'image/png',
                'image/gif',
            ]

            if(e.target.files.length > 5) {
                M.toast({ html: 'Você pode enviar no máximo 5 arquivos.', classes: 'red' })
                e.target.value = ''
                return
            }

            $.each(e.target.files, (i, file) => {
                if(file.size > fileLimit) {
                    M.toast({ html: 'Um dos arquivos selecionados tem mais de 2Mb.', classes: 'red' })
                    e.target.value = ''
                    return
                }
                else if(!allowedTypes.includes(file.type)) {
                    M.toast({ html: 'Apenas os formatos JPG, PNG e GIF são aceitos.', classes: 'red' })
                    e.target.value = ''
                    return
                }
            })
        })

        function showContatoForm(e) {
            e.preventDefault()
            $('#addContato').html('Ocultar').off('click').click(hideContatoForm)
            animate($('#form-contato'), 'slideInUp', () => $('#form-contato').removeClass('slideInUp'))

            //Debug
            if(autoFillContatosForm) {
                fillContatosForm()
            }
        }

        function hideContatoForm(e) {
            e.preventDefault()
            $('#addContato').html(`<i class="fa fa-plus"></i> Adicionar um contato`).off('click').click(showContatoForm)
            animate($('#form-contato'), 'zoomOutRight', () => $('#form-contato').removeClass('zoomOutRight').hide())
        }

        $('#addContato').click(showContatoForm)

        $('#cnpj').keyup(() => {

            //Debug
            if(autoFillForm && !used) {
                used = true

                fillForm()

                return
            }

            let cnpj = $('#cnpj').val().replace(/[-\./]/g, '')

            if(cnpj.length < 14) return

            const url = 'https://www.receitaws.com.br/v1/cnpj/' + cnpj
        
            $.ajax({
                url: url,
                dataType: 'jsonp',
                success: result => {
                    $('#razao').val(result.nome).find('+ label').addClass('active')
                    $('#fantasia').val(result.fantasia).find('+ label').addClass('active')
                    $('#email').val(result.email).find('+ label').addClass('active')
                    $('#fone').val(getFirstPhone(result.telefone)).find('+ label').addClass('active')
                    $('#cep').val(result.cep ? result.cep.replace('.', '') : '').find('+ label').addClass('active')
                    $('#uf').val(result.uf)
                    M.FormSelect.init(document.querySelectorAll('select'), {})
                    $('#cidade').val(result.municipio).find('+ label').addClass('active')
                    $('#bairro').val(result.bairro).find('+ label').addClass('active')
                    $('#logradouro').val(result.logradouro).find('+ label').addClass('active')
                    $('#numero').val(result.numero).find('+ label').addClass('active')
                    $('#complemento').val(result.complemento).find('+ label').addClass('active')
                },
                error: () => M.toast({html: 'Erro ao obter dados a partir do CNPJ.', classes: 'red'})
            })
        })

        // $('#cpf').keyup(() => {

        //     let cpf = $('#cpf').val().replace(/[-\.]/g, '')

        //     if(cpf.length < 11) return

        //     const url = 'https://api.cpfcnpj.com.br/5ae973d7a997af13f0aaf2bf60e65803/9/' + cpf

        //     console.log(url)

        //     $.get(url)
        //         .done(result => {
        //             $('#nomeContato').val(result.nome).find('+ label').addClass('active')
        //         })
        //         .fail(err => console.log(err))
        // })

        //Helper
        
        function animate(target, animation, callback) {
            target.addClass('animated ' + animation).show()

            if(callback){
                setTimeout(() => {
                        callback()
                }, 800)
            } 
        }
        

        //Debug
        function fillForm() {
            let result = {
                "atividade_principal": [
                    {
                    "text": "Consultoria em tecnologia da informação",
                    "code": "62.04-0-00"
                    }
                ],
                "data_situacao": "31/08/2018",
                "complemento": "SLJ 17",
                "tipo": "MATRIZ",
                "nome": "ROBOT GENESIS DESENVOLVIMENTO E CONSULTORIA EM TECNOLOGIA DA INFORMACAO LTDA",
                "email": "marilene@amon.inf.br",
                "atividades_secundarias": [
                    {
                    "text": "Desenvolvimento de programas de computador sob encomenda",
                    "code": "62.01-5-01"
                    }
                ],
                "qsa": [
                    {
                    "qual": "49-Sócio-Administrador",
                    "nome": "MARILENE DOS REMEDIOS ALVES ROCHA"
                    },
                    {
                    "qual": "49-Sócio-Administrador",
                    "nome": "ADOZINDO MAGALHAES DE OLIVEIRA NETO"
                    },
                    {
                    "qual": "49-Sócio-Administrador",
                    "nome": "FELIPE LEITE DE NAZARETH"
                    }
                ],
                "situacao": "ATIVA",
                "bairro": "ALTO DA SERRA",
                "logradouro": "RUA TERESA",
                "numero": "780",
                "cep": "25.625-017",
                "municipio": "PETROPOLIS",
                "fantasia": "ROBOT GENESIS",
                "porte": "DEMAIS",
                "abertura": "31/08/2018",
                "natureza_juridica": "206-2 - Sociedade Empresária Limitada",
                "uf": "RJ",
                "telefone": "(21) 3123-4540",
                "cnpj": "31.389.516/0001-01",
                "ultima_atualizacao": "2018-11-20T23:59:59.000Z",
                "status": "OK",
                "efr": "",
                "motivo_situacao": "",
                "situacao_especial": "",
                "data_situacao_especial": "",
                "capital_social": "5000.00",
                "extra": {},
                "billing": {
                    "free": true,
                    "database": true
                }
            }

            $('#cnpj').val(result.cnpj).find('+ label').addClass('active')
            $('#razao').val(result.nome).find('+ label').addClass('active')
            $('#fantasia').val(result.fantasia).find('+ label').addClass('active')
            $('#email').val(result.email).find('+ label').addClass('active')
            $('#fone').val(result.telefone).find('+ label').addClass('active')
            $('#cep').val(result.cep.replace('.', '')).find('+ label').addClass('active')
            $('#uf').val(result.uf)
            $('#segmento').val(4)
            M.FormSelect.init(document.querySelectorAll('select'), {})
            $('#cidade').val(result.municipio).find('+ label').addClass('active')
            $('#bairro').val(result.bairro).find('+ label').addClass('active')
            $('#logradouro').val(result.logradouro).find('+ label').addClass('active')
            $('#numero').val(result.numero).find('+ label').addClass('active')
            $('#complemento').val(result.complemento).find('+ label').addClass('active')
            $('#site').val('www.robot.rio.br').find('+ label').addClass('active')
            $('#proprietario').val(result.qsa[1].nome).find('+ label').addClass('active')
        }


        
        //Cadastro de contatos

        // function loadFuncoes() {
        //     $.get('/obterFuncao')
        //         .done(tipos => {
        //             tiposContato = tipos

        //             tipos.forEach(tipo => {
        //                 let option = $('<option>').attr('value', tipo.id).html(tipo.descricao)
        //                 $('#tipoContato').append(option)
        //                 M.FormSelect.init($('#tipoContato'), {})
        //             })
        //         })
        //         .fail(err => console.error(err))
        // }

        //loadFuncoes()

        // function resetContatosForm() {
        //     $('#cpfContato').val('').find('+ label').removeClass('active')
        //     $('#nomeContato').val('').find('+ label').removeClass('active')
        //     $('#fone1').val('').find('+ label').removeClass('active')
        //     $('#fone2').val('').find('+ label').removeClass('active')
        //     $('#emailContato').val('').find('+ label').removeClass('active')
        //     $('#tipoContato').val('')
        //     M.FormSelect.init($('#tipoContato'), {})
        // }
        
        // $('#salvarContato').click(e => { 
        //     e.preventDefault()
        //     salvarContato()
        // })

        // function salvarContato() {
        //     let contato = {
        //         cpf: $('#cpfContato').val(),
        //         nome: $('#nomeContato').val(),
        //         fone1: $('#fone1').val(),
        //         fone2: $('#fone2').val(),
        //         tipo: tiposContato.find(tipo => tipo.id == $('#tipoContato').val()).descricao,
        //         email: $('#emailContato').val()
        //     }

        //     resetContatosForm()
        //     $('#tabela-contatos .placeholder-line').hide()

        //     const lineIndex = $('#tabela-contatos tbody tr:not(.placeholder-line)').length

        //     $('#tabela-contatos tbody').append(`
        //         <tr class="animated slideInLeft" id="line-${lineIndex}">
        //             <td>${contato.nome}</td>
        //             <td>${contato.cpf}</td>
        //             <td>${contato.tipo}</td>
        //             <td>${contato.fone1}${contato.fone2 ? ' / ' + contato.fone2 : ''}</td>
        //             <td>${contato.email}</td>
        //             <td><i class="fa fa-trash red-text table-action" onclick="removerContato(${lineIndex})"></i></td>
        //         </tr>
        //     `)

        //     setTimeout(() => $('#tabela-contatos tbody tr:last-child').removeClass('slideInLeft'), 800)
        // }

        // function removerContato(lineIndex) {
        //     const line = $(`#tabela-contatos tbody tr#line-${lineIndex}`)
        //     line.addClass('slideOutRight')
        //     setTimeout(() => {
        //         line.remove()
        //         const lineCount = $('#tabela-contatos tbody tr:not(.placeholder-line)').length

        //         if(lineCount <= 0) {
        //             $('#tabela-contatos .placeholder-line').show()
        //         }
        //     }, 800)
        // }

        //Debug
        // function fillContatosForm() {
        //     $('#cpfContato').val('999.999.999-99').find('+ label').addClass('active')
        //     $('#nomeContato').val('Xxxxxxxxx').find('+ label').addClass('active')
        //     $('#fone1').val('(99)99999-9999').find('+ label').addClass('active')
        //     $('#fone2').val('(99)99999-9999').find('+ label').addClass('active')
        //     $('#emailContato').val('xxxxxx@robot.rio.br').find('+ label').addClass('active')
        //     $('#tipoContato').val('3')
        //     M.FormSelect.init($('#tipoContato'), {})
        // }

        

    </script>

</body>
</html>