<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Genesis</title>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-mask.js"></script>
    <script src="/js/client-helpers.js"></script>
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <style>
        h1 {
            font-size: 2rem;
        }
        .btn {
            width: 100%;
            margin: .5rem 0;
        }
        #card-principal {
            padding: 36px 44px 2px 44px;
            margin: 40px 0;
        }

        @media(max-width: 600px) {
            .btn#cadastrar {
                height: 5rem;
            }
            #card-principal {
                padding: 16px 10px 1px 10px;
                margin: 20px 0;
            }
        }
    </style>
</head>
<body>

    <%- include('partials/navbar') %>


    <!-- FORMULÁRIO -->
    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="card animated fadeInUp" id="card-principal">
                    <div class="card-content">

                        <div class="row">

                            <span class="card-title grey-text text-darken-3 col s12">Cadastro de <%=entity%></span>

                            <form action="/cadastro/<%=action%>" method="post">

                                <div class="row">

                                    <div class="input-field col s12 m10">
                                        <input id="descricao" name="descricao" type="text" autocomplete="x" required>
                                        <label for="descricao">Descrição</label>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col s12 m3 offset-m3">
                                        <button class="btn white grey-text text-darken-3 waves-effect waves-light right" type="reset">Limpar</button>
                                    </div>

                                    <div class="col s12 m3">
                                        <button class="btn green waves-effect waves-light" type="submit" id="cadastrar">Cadastrar
                                            <i class="fa fa-check right"></i>
                                        </button>
                                    </div>
                                </div>
                    
                            </form>

                        </div>

                    </div>
                </div>  
                
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>

    <%- include('partials/toast') %>


</body>
</html>