<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Genesis</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery-mask.js"></script>
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <style>
        h1 {
            font-size: 2rem;
        }
        .btn {
            width: 100%;
            margin: .5rem 0;
        }
        #form-contato {
            display: none;
        }
        table thead,
        table tbody {
            font-size: 11px;
        }
        table > caption {
            font-weight: 400;
            font-size: 16px;
            text-align: left;
        }
        .table-action {
            cursor: pointer;
        }
        #card-principal {
            padding: 36px 44px 2px 44px;
            margin: 40px 0;
            min-height: 80vh;
        }
        #tabela-clientes tbody tr {
            cursor: pointer;
        }
        .modal h1 {
            font-size: 1.4rem;
        }
        .modal #modal-razao {
            font-size: 1.2rem;
        }
        .modal p {
            font-size: .8rem;
        }

        @media(max-width: 600px) {
            #card-principal {
                padding: 16px 10px 1px 10px;
                margin: 20px 0;
            }
        }
    </style>
</head>
<body>

    <%- include('partials/navbar') %>


    <!-- LISTAGEM -->
    <div>
        <div class="row">
            <div class="col s12">

                <div class="card animated fadeInUp" id="card-principal">
                    <div class="card-content">

                        <div class="row">

                            <span class="card-title grey-text text-darken-3 col s12">Clientes cadastrados</span>

                            <div class="preloader-wrapper active" style="margin: 20px 0 0 50%" id="preloader">
                                <div class="spinner-layer spinner-red-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>

                            <table class="highlight" style="display: none" id="tabela-clientes">
                                <thead>
                                    <tr>
                                        <th class="hide-on-small-only"></th>
                                        <th>NOME</th>
                                        <th>ASSOCIAÇÃO</th>
                                        <th class="hide-on-small-only">E-MAIL</th>
                                        <th class="hide-on-small-only">FONE</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="placeholder-line">
                                        <td class="center">Nenhum cliente cadastrado</td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                            
                        </div>

                    </div>
                </div>  
                
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <h1>Detalhes</h1>
            <div class="row">
                <div class="col s6 offset-s3 m3">
                    <img id="modal-logo" width="100%" />
                </div>
                <div class="col s12 m9">
                    <h2 id="modal-razao"></h2>
                </div>
            </div>
            <p><b>Associação:</b> <span id="modal-associacao"></span></p>
            <p><b>E-mail:</b> <span id="modal-email"></span></p>
            <p><b>Fone:</b> <span id="modal-fone"></span></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>


    <%- include('partials/footer') %>


    <script src="/js/client-helpers.js"></script>

    <script>
        const preloader = $('#preloader')
        const table = $('#tabela-clientes')

        const clientsURL = '/obter/Cliente'

        $('.modal').modal()

        $.get(clientsURL)
            .done(clients => {
                let headTable = table.find('thead')
                let bodyTable = table.find('tbody')

                $('.placeholder-line > td').attr('colspan', headTable.find('th').length)

                //Se clients for string, traz uma mensagem de erro.
                if(typeof clients === 'string') {
                    M.toast({ html: clients, classes: 'red' })
                    preloader.hide()
                    return
                }

                if(clients.length === 0) {
                    $('.placeholder-line').show()
                    preloader.hide()
                    table.show().addClass('animated slideInUp')
                    return
                }

                clients.forEach(client => {
                    let lineIndex = bodyTable.find('tr').length

                    let email = client.ClienteContatos.filter(contato => contato.tipo === 'email')
                    let fone = client.ClienteContatos.filter(contato => contato.tipo === 'fone')
                    let image = client.ClienteImagems.length ? client.ClienteImagems[0].urlImagem : ''

                    email = email.length ? email[0].valor : ''
                    fone = fone.length ? fone[0].valor : ''

                    let linha = $('<tr>')
                        .attr('id', `line-${lineIndex}`)
                        .append(`
                            <td class="hide-on-small-only"><img src="${image}" width="25px"/></td>
                            <td>${client.ClientePj.razaoSocial}</td>
                            <td>${client.Associacao.descricao}</td>
                            <td class="hide-on-small-only">${email}</td>
                            <td class="hide-on-small-only fone">${fone}</td>
                            <td onclick='excluirCliente(${lineIndex})'><i class='fa fa-trash red-text'></i></td>
                        `)
                        
                    linha.find('.fone').mask('(00)00000-0000')

                    //Modal de detalhamento do cliente
                    linha.find('td:not(:last-child)').click(() => {
                        let modal = $('#modal')
                        let content = modal.find('.modal-content')
                        content.find('#modal-logo').attr('src', client.fotos[0])
                        content.find('#modal-razao').html(client.razao)
                        content.find('#modal-associacao').html(client.associacao)
                        content.find('#modal-email').html(client.email)
                        content.find('#modal-fone').html(client.fone)

                        // let fone = $('span').html(client.fone)
                        // if(client.fone.length === 10)
                        //     fone.mask('(00) 0000-0000')
                        // else if(client.fone.length === 11)
                        //     fone.mask('(00) 00000-0000')

                        // console.log(fone.html())

                        // content.find('#modal-fone').html(fone.html())

                        modal.modal('open')
                    })

                    bodyTable.append(linha)
                })

                $('.placeholder-line').hide()
                preloader.hide()
                table.show().addClass('animated slideInUp')
            })
            .fail(err => {
                console.log(err)
                M.toast({ html: 'Ocorreu um erro ao carregar os clientes.', classes: 'red' })
            })

        function excluirCliente(lineIndex) {
            let line = table.find(`tbody tr#line-${lineIndex}`)
            line.addClass('animated zoomOutRight')
            setTimeout(() => {
                line.remove()

                if(table.find('tbody tr:not(.placeholder-line)').length === 0) {
                    $('.placeholder-line').show()
                }
            }, 1000)
        }

    </script>

</body>
</html>