<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Genesis</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery-mask.js"></script>
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <style>
        h1 {
            font-size: 2rem;
        }
        .btn {
            width: 100%;
            margin: .5rem 0;
        }
        #form-contato {
            display: none;
        }
        table thead,
        table tbody {
            font-size: 11px;
        }
        table > caption {
            font-weight: 400;
            font-size: 16px;
            text-align: left;
        }
        .table-action {
            cursor: pointer;
        }
        #card-principal {
            padding: 36px 44px 2px 44px;
            margin: 40px 0;
            min-height: 80vh;
        }
        .modal h1 {
            font-size: 1.4rem;
        }
        .modal #modal-razao {
            font-size: 1.2rem;
        }
        .modal p {
            font-size: .8rem;
        }
        .action-column {
            cursor: pointer;
        }

        @media(max-width: 600px) {
            #card-principal {
                padding: 16px 10px 1px 10px;
                margin: 20px 0;
            }
        }
    </style>
</head>
<body>

    <%- include('partials/navbar') %>


    <!-- LISTAGEM -->
    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="card animated fadeInUp" id="card-principal">
                    <div class="card-content">

                        <div class="row">

                            <span class="card-title grey-text text-darken-3 col s12"><%=entity%></span>

                            <div class="preloader-wrapper active" style="margin: 20px 0 0 50%" id="preloader">
                                <div class="spinner-layer spinner-red-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>

                            <table class="highlight" style="display: none" id="tabela">
                                <thead>
                                    <tr>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="placeholder-line">
                                        <td colspan="3" class="center">Nenhum item cadastrado</td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                            
                        </div>

                    </div>
                </div>  
                
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>


    <script src="/js/client-helpers.js"></script>

    <script>
        const preloader = $('#preloader')
        const table = $('#tabela')

        $.get('/obter/<%=model%>')
            .done(entries => {
                let headerTable = table.find('thead')
                let bodyTable = table.find('tbody')

                //Se entries for string, traz uma mensagem de erro.
                if(typeof entries === 'string') {
                    M.toast({ html: entries, classes: 'red' })
                    preloader.hide()
                    return
                }

                if(entries.length === 0) {
                    $('.placeholder-line').show()
                    preloader.hide()
                    tabela.show().addClass('animated slideInUp')
                    return
                }

                let headerReady = false

                entries.forEach(entry => {
                    let lineIndex = bodyTable.find('tr').length
                    let line = $('<tr>').attr('id', `line-${lineIndex}`)

                    //Header da tabela
                    if(!headerReady) {
                        const keys = Object.keys(entry)

                        keys.forEach(key => {
                            let column = $('<th>').html(key.toUpperCase())
                            headerTable.find('tr').append(column)
                        })

                        headerTable.find('tr').append($('<td>'))
                        
                        headerReady = true
                        $('.placeholder-line > td').attr('colspan', keys.length)
                    }

                    //Body da tabela
                    Object.keys(entry).forEach(key => {
                        let column = $('<td>').html(entry[key])
                        line.append(column)
                    })

                    //Ícones de ação
                    let actionColumn = $('<td>').addClass('action-column center')
                                                .html(
                                                    $('<i>').addClass('fa fa-trash red-text')
                                                )
                                                .click(() => excluir(lineIndex))
                                                .attr('width', '50px')
                    line.append(actionColumn)
                    
                    bodyTable.append(line)
                })

                $('.placeholder-line').hide()
                preloader.hide()
                table.show().addClass('animated slideInUp')
            })
            .fail(err => console.log(err))

            function excluir(lineIndex) {
                let line = table.find(`tbody tr#line-${lineIndex}`)
                line.addClass('animated zoomOutRight')
                setTimeout(() => {
                    line.remove()

                    if(table.find('tbody tr:not(.placeholder-line)').length === 0) {
                        $('.placeholder-line').show()
                    }
                }, 1000)
            }

    </script>

</body>
</html>