<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Genesis</title>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/particles.min.js"></script>
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/typing.css" />
    <link rel="stylesheet" href="/css/rotate.css">
    <link rel="stylesheet" href="/css/arrow.css">
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>

    <%- include('partials/navbar') %>


    <!-- PARTICLES -->
    <div class="parallax-container">
        <div class="section">
            <div class="row">
                <div class="col s12 m7 offset-m1 l8 offset-l1">
                    <h1 class="typing-paragraph" id="title"><%=title%><span class="typing-cursor"></span></h1>
    
                    <h2 class="animated fadeInRight slower" id="subtitle"><%=subtitle%></h2>

                    <img src="/img/cerebro2.png" id="rotate-logo" class="hide-on-med-and-down" />
                </div>
            </div>
        </div>

        <div class="parallax animated fadeIn slower">
            <img id="parallax-image" />
            <div id="particles-background" style="height: 90vh"></div>
        </div>
    </div>


    <!-- VALORES -->
    <div class="container">
        <div class="section" id="icons-section"> 
            <div class="row">

                <% icons.forEach(function(icon) { %>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h3 class="center grey-text text-darken-3"><i class="<%=icon.icon%>"></i></h3>
                            <h4 class="center grey-text text-darken-3"><%=icon.title%></h4>
                
                            <p class="light center"><%=icon.text%></p>
                        </div>
                    </div>

                <% }) %>
                
            </div>
        </div>
    </div>


    <!-- EQUIPE -->
    <div class="container">
        <div class="section grey darken-3 z-depth-2" id="team-section"> 

            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <h1><%=members.title%></h1>
                </div>
            </div>

            <% let side = true %>

            <% members.members.forEach(function(member) { %>
                <div class="row">
                    <div class="col s12 m4 <%=!side ? 'right' : 'left' %>">
                        <div class="center">
                            <img class="circle" src="<%=member.photo%>" />
                        </div>
                    </div>
                    <div class="col s12 m8 <%=side ? 'right' : 'left' %>">
                        <div class="valign-wrapper <%=side ? 'right' : 'left' %>">
                            <div style="text-align: <%=!side ? 'right' : 'left' %>; <%=side ? 'padding-right' : 'padding-left' %>: 4rem">
                                <p class="member-name"><%=member.name%></p>
                                <p class="member-description"><%=member.description%></p>
                            </div>
                        </div>
                    </div>
                </div>

                <% side = !side %>
            <% }) %>
    
        </div>
    </div>


    <!-- SOBRE -->
    <div class="container">
        <div class="section animated" id="about-section" style="margin-bottom: 5rem"> 
    
            <div class="row">
                <div class="col s12">

                    <h1><%=about.header%></h1>

                    <% about.content.forEach(function(p) { %>
                        <p class="animated fadeIn"><%=p%></p>
                    <% }) %>

                </div>
            </div>
    
        </div>
    </div>


    <%- include('partials/footer') %>
    

    <script>

        M.AutoInit()

        $(function() {
            $("#parallax-image").hide()

            if($(window).width() > 600) {
                $(".typing-paragraph").css({ visibility: 'visible', animation: '3.8s typing steps(42, end)', 'animation-delay': '2s' })
            }
            else {
                $(".typing-paragraph").css({ visibility: 'visible', animation: '1.8s typing steps(14, end)', 'animation-delay': '2s' })
            }

            setTimeout(() => {
                $(".typing-paragraph").css("opacity", '1')
            }, 2000)
        })

        window.addEventListener('scroll', () => {
            if($(document).scrollTop() >= 204) {
                let blocks = $('#icons-section .icon-block')
                for(let i=0; i<blocks.length; i++) {
                    let delay = i === 0 ? '0' : i === 1 ? '05' : '1'
                    $(blocks[i]).show().addClass(`animated bounceIn delay-${delay}s`)
                }
            }

            if($(document).scrollTop() >= 410) {
                $('#team-section').show().addClass('slideInUp')
            }

            if($(document).scrollTop() >= 1205) {
                $('#about-section').show().addClass('fadeIn')
            }
        })
        
    </script>

    <script src="/js/particles-setup.js"></script>

    <script src="/js/client-helpers.js"></script>

    <script src="https://chat.robot.rio.br/assistantCustomizedFile?userId=123"></script>

</body>
</html>