<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Genesis</title>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>

    <%- include('partials/navbar') %>

    <!-- LOGIN -->
    <div class="container">
        <div class="section"> 
            <div class="row">

                <div class="show-on-large col l6"></div>

                <div class="card col s12 m6 offset-m3 l6 animated fadeInUp">
                    <div class="card-content">

                        <form action="/autenticar" method="post">

                            <span class="card-title">
                                Login
                            </span>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="login" name="login" type="text" required value="felipe">
                                    <label for="login">Login</label>
                                </div>

                                <div class="input-field col s12">
                                    <input id="senha" name="senha" type="password" required value="123">
                                    <label for="senha">Senha</label>
                                </div>

                                <div class="col s12" style="line-height: 50px">
                                    <a href="/passRecover" class="grey-text text-lighten-1" style="text-decoration: underline; font-size: 13px">Esqueceu a senha?</a>

                                    <button class="btn blue right">
                                        Entrar
                                        <i class="fas fa-sign-in-alt right"></i>
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <%- include('partials/toast') %>

    <script>

        M.AutoInit()

    </script>

</body>
</html>