.arrow{
    position: absolute;
    right: 0;
    bottom: -1%;
    transform: translate(-50%,-50%);
    padding: 30px 22.5px 15px 22.5px;
    border-radius: 50%;
    transition: background-color 0.7s ease;
}

@media (max-width: 600px) 
{
    .arrow{
        bottom: 4%;
        right: -6%;
    }
}

.arrow:hover {
    background-color: #2f2f2f;
    cursor: pointer;
}

.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
    transform: rotate(45deg);
    animation: animate 1.4s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}

.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg);
    }
}