@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf) format('truetype') font-weight-normal,
         url(../fonts/Ubuntu-Bold.ttf) format('truetype') font-weight-bold,
         url(../fonts/Ubuntu-Light.ttf) format('truetype') font-weight-lighter,
         url(../fonts/Ubuntu-Medium.ttf) format('truetype') font-weight-normal,
         url(../fonts/Ubuntu-Italic.ttf) format('truetype') font-italic font-weight-normal;
}

:root {
    --foreground-color: white;
}

body {
    font-family: Ubuntu, Roboto, Consolas, Arial;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    height: 64px;
}
nav .brand-logo > img {
    padding: 4px 20px;
    height: 65px;
}
nav ul a {
    font-size: .9rem;
}
nav i {
    font-size: .8rem;
    margin-left: 5px;
}


/* CONTENT */

#title {
    font-weight: 100;
    font-size: 3em;
    margin-top: 50vh;
    font-family: Consolas, Ubuntu, Roboto, Arial;
    color: #FFF;
}
#subtitle {
    font-family: Roboto, Arial;
    font-weight: 100;
    font-size: 1.5em;
    margin-top: 7rem;
    color: #DDD;
    animation-name: float;
    animation-timing-function: linear;
    animation-duration: 30s;
}


/* SESSÃO DE ÍCONES */

#icons-section h4 {
    font-size: 1.4rem;
}
.icon-block {
    display: none;
}
.icon-block p {
    font-size: .8rem;
}


/* SESSÃO DA EQUIPE */

#team-section {
    /* visibility: hidden; */
    display: none;
    color: white;
}
#team-section h1 {
    font-size: 1.8rem;
    font-weight: 500;
}
#team-section img {
    height: 130px;
}
#team-section .valign-wrapper {
    height: 130px;
}
#team-section .member-name {
    font-size: 1.4rem;
}
#team-section .member-description {
    font-size: .9rem;
    font-weight: 100;
}


/* SESSSÃO QUEM SOMOS */
.container {
    min-height: 13rem;
}

#about-section {
    display: none;
}
#about-section h1 {
    font-size: 1.8rem;
}
#about-section p {
    font-size: 1rem;
}


/* MEDIA QUERIES */

@media (max-width: 600px) 
{
    #title {
        margin-top: 42vh;
        color: #FFF;
        font-weight: 400;
    }
    #subtitle {
        font-size: 1.4em;
        animation: none;
        color: #DDD;
    }
}


/* FOOTER */

footer {
    color: var(--foreground-color);
    font-size: .9rem;
    font-weight: 100;
}
footer a {
    color: var(--foreground-color);
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    font-weight: 100;
}
footer h1 {
    font-size: 1.6rem;
}
footer h2 {
    font-size: 1.2rem;
}
footer h2 i {
    padding-right: 8px;
}
.footer-copyright > span {
    position: absolute;
    right: 2rem;
    font-size: .8rem;
}


/* COMPONENTS */

.nav-dropdown {
    top: 64px !important;
    width: 340px !important;
}
.dropdown-content li > a {
    color: #444;
    font-size: .9rem; 
}
.dropdown-content li i {
    font-size: 1.4rem;
}
.parallax-container {
    width: 100%;
}
.parallax img {
    opacity: .5 !important;
}
.notice-card {
    cursor: pointer;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .2);
    font-weight: 400;
    color: #ddd;
}
.notice-card:hover {
    background-color: rgba(0, 0, 0, .3);
}
.notice-card .card-content {
    padding: 0;
}
.notice-card .card-content .row:nth-child(2) {
    padding: 0 10px 10px 10px;
    margin-top: -16px;
}
#particles-background {
    background-color: #444;
}








@keyframes float {
    0%{
        transform: translate(-20px, -20px);
    }
    100% {
        transform: translate(25%, -20px);
    }
}

@-webkit-keyframes float {
    0%{
        transform: translate(-20px, -20px);
    }
    100% {
        transform: translate(25%, -20px);
    }
}
@-moz-keyframes float {
    0%{
        transform: translate(-20px, -20px);
    }
    100% {
        transform: translate(25%, -20px);
    }
}
