#rotate-logo {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 99vh;
    height: 90vh;
    margin: -60px 0 0 -60px;
    animation: pulse 7s infinite linear;
    -webkit-animation: pulse 7s infinite linear;
    -moz-animation: pulse 7s infinite linear;
    animation-direction: alternate;  
    opacity: .2;
}


@keyframes pulse {
    from {
        /* -webkit-transform: rotate3d(0, 1, 0, 0deg); */
        opacity: .2;
    }
    15% {
        opacity: .05;
    }
    25% {
        opacity: .2;
    }
    30% {
        opacity: .05;
    }
    50% {
        opacity: .2;
    }
    65% {
        opacity: .05;
    }
    75% {
        opacity: .2;
    }
    90% {
        opacity: .05;
    }
    to {
        /* -webkit-transform: rotate3d(0, 1, 0, 359deg); */
        opacity: .2;
    }
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        opacity: .2;
    }
    15% {
        opacity: .05;
    }
    25% {
        opacity: .2;
    }
    30% {
        opacity: .05;
    }
    50% {
        opacity: .2;
    }
    65% {
        opacity: .05;
    }
    75% {
        opacity: .2;
    }
    90% {
        opacity: .05;
    }
    to {
        -webkit-transform: rotate3d(0, 1, 0, 359deg);
        opacity: .2;
    }
}
@-moz-keyframes pulse { 
    from {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        opacity: .2;
    }
    15% {
        opacity: .05;
    }
    25% {
        opacity: .2;
    }
    30% {
        opacity: .05;
    }
    50% {
        opacity: .2;
    }
    65% {
        opacity: .05;
    }
    75% {
        opacity: .2;
    }
    90% {
        opacity: .05;
    }
    to {
        -webkit-transform: rotate3d(0, 1, 0, 359deg);
        opacity: .2;
    }
}
