.typing-paragraph {
  font-size: 40px;
  white-space: nowrap;
  width: 90vw;
  overflow: hidden;
  opacity: 0;
}

.typing-cursor {
  width: 18px;
  height: 5px;
  margin-left: 4px;
  background-color: #aaa;
  display: inline-block;
  animation: 0.5s blinking infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes typing {
  from {
    opacity: 0;
    width: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes flutuar {
  0%{
      transform: translate(-80px, -20px);
  }
  100% {
      transform: translate(68%, -20px);
  }
}

/* @media (max-width: 600px) 
{
  .typing-paragraph {
    animation: 1s typing steps(50, end);
  }
} */